<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" lang="es">

<head th:replace="fragments/manager :: head"></head>

<body>

    <div th:replace="fragments/manager :: sidebar"></div>

    <div class="page-content" id="content">
        <button id="sidebarCollapse" type="button" class="m-2 btn custom-btn-2"><i class="bi bi-list"></i></button>
        <div class="container-fluid animate__animated animate__fadeInRight px-5">
            <div>
                <div class="d-flex align-items-center">
                    <div class="modal-icon-background-blue me-3">
                        <i class="bi bi-house-door modal-icon-blue"></i>
                    </div>
                    <h5 class="mt-2">Overview</h5>
                </div>
                <label class="custom-text mt-2">Get a general view of everything.</label>
            </div>
        </div>
    </div>

    <script src="../controller/manager/dashboard.js"></script>

    <div th:replace="fragments/manager :: scripts"></div>
</body>

</html>