<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" lang="es">

<head th:replace="fragments/manager :: head"></head>

<body>

    <div th:replace="fragments/manager :: sidebar"></div>

    <div class="page-content " id="content">
        <button id="sidebarCollapse" type="button" class="m-2 btn custom-btn-2"><i class="bi bi-list"></i></button>
        <div class="container-fluid animate__animated animate__fadeInRight px-5">
            <div>
                <div class="d-flex align-items-center">
                    <div class="modal-icon-background-blue me-3">
                        <i class="bi bi-person-video2 modal-icon-blue"></i>
                    </div>
                    <h5 class="mt-2">Users</h5>
                </div>
                <label class="custom-text mt-2">Manage all the users</label>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    <div class="d-flex">
                        <button id="btnOpenAddModal" class="btn custom-btn px-3" data-bs-toggle="modal" data-bs-target="#manageUsersModal">
                            <div class="d-flex justify-content-center align-items-center">
                                <i class="bi bi-plus icon-color me-1"></i><span>Add</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <button class="btn custom-btn px-3 mx-1" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="collapseManager collapseDeveloper">
                            <div class="d-flex justify-content-center align-items-center">
                                <span>Change Table</span>
                            </div>
                        </button>
                    
                    </div>
                </div>
            </div>
            
            <div id="accordion">
                <div class="row mt-2 collapse multi-collapse show" id="collapseManager">
                    <h5 id="table-title">Managers</h5>
                    <div class="col-12">
                        <table class="table table-borderless mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Joined</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-managers">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-2 collapse multi-collapse" id="collapseDeveloper">
                    <h5 id="table-title">Developers</h5>
                    <div class="col-12">
                        <table class="table table-borderless mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Joined</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-developers">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal for managing users -->
    <div class="modal fade" id="manageUsersModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
            <div class="modal-content p-3">
                <div class="modal-header d-flex justify-content-start">
                    <div class="modal-icon-background-red me-3">
                        <i class="bi bi-person-video2 modal-icon-red"></i>
                    </div>
                    <h5 class="modal-title" id="modal-title">Change this on js controller</h5>
                </div>

                <div class="modal-body mb-3 mt-2">
                    <form action="#" id="manageUsers-form">
                        <input type="hidden" id="id_user">
                        <label class="custom-text">Please fill all the fields.</label>
                        <div class="row">
                            <div class="col-xl-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="mt-2">
                                    <input type="hidden" id="txtIdTec">
                                    <div class="mb-2">
                                        <label for="name" class="custom-text">Name:</label>
                                        <input type="text" class="form-control" id="name"
                                            placeholder="Your name...">
                                    </div>
                                    <div class="mb-2">
                                        <label for="userName" class="custom-text">Username:</label>
                                        <input type="text" class="form-control" id="userName"
                                            placeholder="Your username...">
                                    </div>
                                    <div class="mb-2">
                                        <label for="phone_number" class="custom-text">Phone number:</label>
                                        <input type="text" class="form-control" id="phone_number" placeholder="00000000">
                                    </div>
                                    <div class="mb-2">
                                        <label for="email" class="custom-text">Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="example@mail.com">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="mt-2">
                                    <div class="mb-2">
                                        <label for="id_rol" class="custom-text">Role:</label>
                                        <select class="form-select" id="id_rol">
                                            
                                        </select>
                                    </div>
                                    <div class="mb-2">
                                        <label for="id_status" class="custom-text">Status:</label>
                                        <select class="form-select" id="id_status">
                                            
                                        </select>
                                    </div>
                                    <div class="mb-2">
                                        <label for="password" class="custom-text">Password:</label>
                                        <input type="password" class="form-control" id="password" placeholder="Password" data-bs-toggle="tooltip" data-bs-placement="bottom" 
                                        title="Password must contain at least one digit [0-9].
                                        Password must contain at least one lowercase Latin character [a-z].
                                        Password must contain at least one uppercase Latin character [A-Z].
                                        Password must contain at least one special character like ! @ # & ( ).
                                        Password must contain a length of at least 8 characters and a maximum of 20 characters.">
                                    </div>
                                    <div class="mb-2">
                                        <label for="password" class="custom-text">Confirm password:</label>
                                        <input type="password" class="form-control" id="password" placeholder="Confirm password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="submit-form" class="d-none"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn custom-btn pe-3" data-bs-dismiss="modal">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="bi bi-x icon-color me-1"></i><span>Close</span>
                        </div>
                    </button>
                    <button onclick="clickHiddenButton()" class="btn custom-btn pe-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="bi bi-check icon-color me-1"></i><span>Save</span>
                        </div>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="fragments/manager :: scripts"></div>
    <script src="../controller/manager/users.js"></script>
</body>

</html>