<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" lang="es">

<head th:replace="fragments/developer :: head"></head>

<body>

    <div th:replace="fragments/developer :: navbar"></div>

    <div class="container-fluid p-5 mt-5">
        <div class="animate__animated animate__fadeInUp">
            <div class="d-flex align-items-center">
                <div class="modal-icon-background-blue me-3">
                    <i class="bi bi-list-nested modal-icon-blue"></i>
                </div>
                <input type="hidden" th:value="${id_project}" id="id_project">
                <h5 class="mt-2">Backlog</h5>
                <label class="custom-text ms-3 animate__animated animate__fadeInUp animate__delay-1s">My Projects / <span id="project_name"></span></label>
            </div>
            <label class="custom-text mt-2 animate__animated animate__fadeInUp animate__delay-1s" id="description"></label>
        </div>

        <div class="row d-flex justify-content-center align-items-center mt-2" id="tbody-backlog">
            
        </div>
    </div>

    <script src="../controller/developer/backlog.js"></script>

    <div th:replace="fragments/developer :: scripts"></div>
</body>

</html>