<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" lang="es">

<head th:replace="fragments/developer :: head"></head>

<body>

    <div th:replace="fragments/developer :: navbar"></div>

    <div class="container-fluid p-5 mt-5 animate__animated animate__fadeInUp">
        <div class="d-flex align-items-center">
            <div class="modal-icon-background-blue me-3">
                <i class="bi bi-box modal-icon-blue"></i>
            </div>
            <h5 class="mt-2">My Projects</h5>
        </div>
        <label class="custom-text mt-2">All the projects where you are enrolled in.</label>

        <div class="row mt-2" id="tbody-projects">
            
        </div>
    </div>

    <script src="../controller/developer/dashboard.js"></script>

    <div th:replace="fragments/developer :: scripts"></div>
</body>

</html>