.background-gray{
    background-color: #e8e8e8;
}

#login-div {
    width: 25%;
}

@media (max-width: 1100px) {
    #login-div {
        width: 80% !important;
    }
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid #e8e8e8;
    transition: all 0.4s;
    background-color: #ffffff;
}

#user-nav-space{
    border-bottom: 2px solid #e8e8e8;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

.nav-link {
    width: 150px !important;
    height: 40px !important;
    color: #747678 !important;
    font-family: 'Inter', sans-serif;
    font-size: 14px !important;
    border-radius: 10px !important;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background-color: #e8e8e8 !important;
}

.rounded-border {
    border-radius: 14px;
}

.custom-btn {
    background-color: transparent;
    border: 2px solid #e8e8e8;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #585757;
    transition: all 0.2s;
}

.custom-btn:hover {
    background-color: #e8e8e8;
    border: 2px solid #e8e8e8;
    color: #585757;
    border-radius: 13px;
    font-family: 'Inter', sans-serif;
}

.custom-btn-2 {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #585757;
    transition: all 0.2s;
}

.custom-btn-2:hover {
    background-color: #e8e8e8;
    border: 2px solid #e8e8e8;
    color: #585757;
    border-radius: 13px;
    font-family: 'Inter', sans-serif;
}

.icon-size{
    font-size: 24px;
}

.icon-color {
    color: #585757;
    font-size: 20px;
}

.modal-icon-green {
    color: #00ba34;
    font-size: 20px;
}

.modal-icon-background-green {
    background-color: #e6f8eb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 24px;
}

.modal-icon-blue {
    color: #188ECA;
    font-size: 20px;
}

.modal-icon-background-blue {
    background-color: #DBEDF6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 24px;
}

.btn-close {
    border: 2px solid #989898 !important;
    border-radius: 24px !important;
    padding: 10px !important;
    font-size: 10px !important;
}

.custom-title {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: #585757 !important;
}

.container {
    box-shadow: -1px 6px 15px -12px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -1px 6px 15px -12px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 6px 15px -12px rgba(0, 0, 0, 1);
    background-color: white;
}

.custom-text {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #585757;
    margin-bottom: 8px;
}

a {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #989898 !important;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: #585757 !important;
}

th {
    font-family: 'Inter Extra Thin', sans-serif !important;
    font-size: 16px;
    color: #585757
}

td {
    font-family: 'Inter Extra Thin', sans-serif !important;
    font-size: 16px;
    color: #989898
}

.modal-content {
    border-radius: 24px !important;
    border: 0px !important;
}

.modal-header {
    border: 0px !important;
    padding-bottom: 0px !important;
}

.modal-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 0 !important;
}

.modal-footer {
    padding-top: 0 !important;
    border: 0 !important;
}

.form-control {
    border: 2px solid #e8e8e8;
    font-family: 'Inter', sans-serif !important;
    border-radius: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 15px !important;
}

.form-select {
    border: 2px solid #e8e8e8;
    font-family: 'Inter', sans-serif !important;
    border-radius: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 15px !important;
}